/*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license */

/*
	Styles for basic PhotoSwipe functionality (sliding area, open/close transitions)
*/

// PhotoSwipe uses Autoprefixer, so vendor prefixed are added automatically when needed.

@import "main-settings";

 
/* pswp = photoswipe */
.pswp {
	display: none;
	position:absolute;
	width: 100%;
	height: 100%;
	left:0;
	top:0;
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;
	z-index: $pswp__root-z-index;
	-webkit-text-size-adjust: 100%;
	/* create separate layer, to avoid paint on window.onscroll in webkit/blink */
	-webkit-backface-visibility: hidden;
	outline: none;

	@if $pswp__box-sizing-border-box == true {
		* {
			box-sizing: border-box;
		}
	}
	
	img {
		max-width: none;
	}
}

/* style is added when JS option showHideOpacity is set to true */
.pswp--animate_opacity {
	/* 0.001, because opacity:0 doesn't trigger Paint action, which causes lag at start of transition */
	opacity: 0.001;
	will-change:opacity;
	/* for open/close transition */
	transition: opacity $pswp__show-hide-transition-duration cubic-bezier(.4,0,.22,1);
}

.pswp--open {
	display: block;
}

.pswp--zoom-allowed .pswp__img {
	/* autoprefixer: off */
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}

.pswp--zoomed-in .pswp__img {
	/* autoprefixer: off */
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
}

.pswp--dragging  .pswp__img {
	/* autoprefixer: off */
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}

/*
	Background is added as a separate element.
	As animating opacity is much faster than animating rgba() background-color.
*/
.pswp__bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: $pswp__background-color;
	opacity: 0;
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	will-change:opacity;
}

.pswp__scroll-wrap {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow:hidden;
}

.pswp__container,
.pswp__zoom-wrap {
	-ms-touch-action: none; 
	touch-action: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

/* Prevent selection and tap highlights */
.pswp__container,
.pswp__img {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	/* FIXME: 解决 Safari 浏览器长按 */
	-webkit-touch-callout: default;
}

.pswp__zoom-wrap {
	position: absolute;
	width: 100%;
	-webkit-transform-origin: left top;
	-moz-transform-origin: left top;
	-ms-transform-origin: left top;
	transform-origin: left top;
	/* for open/close transition */
	transition: transform $pswp__show-hide-transition-duration cubic-bezier(.4,0,.22,1);
}

.pswp__bg {
	will-change: opacity;
	/* for open/close transition */
	transition: opacity $pswp__show-hide-transition-duration cubic-bezier(.4,0,.22,1);
}

.pswp--animated-in {
	.pswp__bg,
	.pswp__zoom-wrap {
		-webkit-transition: none;
		transition: none;
	}
}

.pswp__container,
.pswp__zoom-wrap {
	-webkit-backface-visibility: hidden;
}

.pswp__item {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
}

.pswp__img {
	position: absolute;
	width: auto;
	height: auto;
	top: 0;
	left: 0;
}

/*
	stretched thumbnail or div placeholder element (see below)
	style is added to avoid flickering in webkit/blink when layers overlap
*/
.pswp__img--placeholder {
	-webkit-backface-visibility: hidden;
}

/*
	div element that matches size of large image
	large image loads on top of it
*/
.pswp__img--placeholder--blank {
	background: $pswp__placeholder-color;
}

.pswp--ie .pswp__img {
	width: 100% !important;
	height: auto !important;
	left: 0;
	top: 0;
}

/*
	Error message appears when image is not loaded
	(JS option errorMsg controls markup)
*/
.pswp__error-msg {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 14px;
	line-height: 16px;
	margin-top: -8px;
	color: $pswp__error-text-color;
}

.pswp__error-msg a {
	color: $pswp__error-text-color;
	text-decoration: underline;
}

// FIX: 自定义 loading 样式
.pswp__loading-outer {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: rgba(0, 0,0, 0.5);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 10px;
}

.pswp__loading-inner {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  position: relative;
  margin-bottom: 10px;
}
.pswp__loading-inner div:first-child {
  opacity: 1;
  animation-delay: 0.1s;
  transform: rotate(0deg) translateY(-6px);
}
.pswp__loading-inner div:nth-child(2) {
  opacity: 0.9;
  animation-delay: 0.2s;
  transform: rotate(36deg) translateY(-6px);
}
.pswp__loading-inner div:nth-child(3) {
  opacity: 0.8;
  animation-delay: 0.3s;
  transform: rotate(72deg) translateY(-6px);
}
.pswp__loading-inner div:nth-child(4) {
  opacity: 0.7;
  animation-delay: 0.4s;
  transform: rotate(108deg) translateY(-6px);
}
.pswp__loading-inner div:nth-child(5) {
  opacity: 0.6;
  animation-delay: 0.5s;
  transform: rotate(144deg) translateY(-6px);
}
.pswp__loading-inner div:nth-child(6) {
  opacity: 0.5;
  animation-delay: 0.6s;
  transform: rotate(180deg) translateY(-6px);
}
.pswp__loading-inner div:nth-child(7) {
  opacity: 0.4;
  animation-delay: 0.7s;
  transform: rotate(216deg) translateY(-6px);
}
.pswp__loading-inner div:nth-child(8) {
  opacity: 0.3;
  animation-delay: 0.8s;
  transform: rotate(252deg) translateY(-6px);
}
.pswp__loading-inner div:nth-child(9) {
  opacity: 0.2;
  animation-delay: 0.9s;
  transform: rotate(288deg) translateY(-6px);
}
.pswp__loading-inner div:nth-child(10) {
  opacity: 0.1;
  animation-delay: 1s;
  transform: rotate(324deg) translateY(-6px);
}
.pswp__loading-inner div {
  border-radius: 1px;
  width: 2px;
  height: 4px;
  animation: dd-spinner 1s linear infinite;
  position: absolute;
  background: #fff;
}

@keyframes dd-spinner {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}